:root {
  --gap: 0.08rem;
}

#App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  user-select: none;
}

.clickable:hover {
  cursor: pointer;
  background-color: #222;
  transition: background-color 0.15s;
}

#watch-face {
  width: 18rem;
  height: 22rem;
  background-color: white;
  border-radius: 5rem;
  border: 1rem solid black;

  display: grid;
  grid-template-rows: 0.6fr 1fr 3fr;
  
  overflow: hidden;
  
  background-color: #111;
  color: #ccc;

  box-shadow: 0 1rem 4rem 0.5rem rgba(0, 0, 0, 0.3);
}

#top-bar {
  display: grid;
  grid-template-columns: 1fr 2fr;

  & #settings-button {
    padding-left: 0.6rem;
    font-size: 2rem;
    grid-column: 1 / 2;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  & #current-time {
    padding-left: 0.6rem;
    font-weight: bold;
    font-size: 1.2rem;
    grid-column: 2 / 3;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}


#screen {
  display: flex;
  column-gap: 0.3rem;

  justify-content: center;
  align-items: center;
  font-size: 1.65rem;
  font-weight: bold;

  overflow-y: hidden;

  background-color: #000;

  border-top: var(--gap) solid #222;
  border-bottom: var(--gap) solid #222;

  #arrow-sign {
    display: flex;
  }
}


#button-set {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 1fr 1fr;

  font-weight: bold;
  font-size: 1.5rem;

  & > div {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  & #enter-button {
    grid-column: 2 / 4;
    grid-row: 3 / 4;
  }

  #button-1, 
  #button-2, 
  #button-3, 
  #button-4, 
  #button-5, 
  #button-6 {
    border: var(--gap) solid #000;
  }
  #button-1 {
    border-left: none;
    border-top: none;
  }
  #button-2 {
    border-top: none;
  }
  #button-3 {
    border-right: none;
    border-top: none;
  }
  #button-4 {
    border-left: none;
  }
  #button-6 {
    border-right: none;
  }
  #reset-button {
    background-color: #333;
    padding-left: 0.5rem;
    padding-bottom: 0.1rem;

    &:hover {
      filter: brightness(1.3);
    }
  }
  #enter-button {
    border-top: var(--gap) solid #000;
    background-color: rgb(241, 154, 55);
    color: white;

    padding-right: 0.3rem;
    padding-bottom: 0.1rem;

    &:hover {
      filter: brightness(1.1);
    }
  }
}

#counter {
  font-size: 1.3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  grid-area: 2 / 1 / 4 / 2;
}