html {
  @media screen and (max-width: 768px) {
    font-size: 0.8rem;
  }
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: rgb(245, 255, 255);

  touch-action: none;
}